node_modules

# Output
.output
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
.dev.vars

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Cloudflare Types
/worker-configuration.d.ts
